.smscr{
    width:800px;    
}

.btnd{
    /* font-size: medium; */
    align-items: center;
}

@media screen and (max-width:400px){
    .smscr{
        width:100%;
    }

    .btnd{
        font-size: small;
        text-align: center;
    }
}

#pholder::placeholder{
    color:red;
}