*{
    padding:0;
    margin:0;
}

.center{
    display: flex;
    justify-content: center;
}

.line{
    text-align: center;
}

.ins{
    font-size:xx-large;
}

.imdt{
    height:300px;
    width:350px;
}

@media screen and (max-width:400px){
    .imdt{
        width:240px;
        height:240px;
    }
    .ins{
        font-size:large;
    }
    
}

li{
    list-style: none;
}



